.content {
	display: flex;
	flex-direction: column;

	border: 1px solid black;
	border-radius: 20px 0 20px ;
	background-color: white;

	overflow: hidden;
}

.content > * {
	margin-bottom: 25px;
}

.header {
	height: 15vh;
	object-position: center center;
	object-fit: cover;
}