.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-radius: 0 0 20px 20px;
	grid-column: 1/3;
	padding: 0 5px;
	background-color: white !important;
	border: 1px solid black;
	border-top: none;
}

.logo {
	width: 30px;
}

.auth{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 0 1rem;
}